@model CPMS.Models.ProjectResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectManagerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectManagerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectManagerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectManagerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
